<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amo.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DailogActivity" android:theme="@style/Theme.Transparent"/>
<!--        <activity android:name=".ui.DailogActivity"/>-->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reciver.AlarmRciever"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
<!--            <intent-filter>-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
<!--&lt;!&ndash;                <action&ndash;&gt;-->
<!--&lt;!&ndash;                    android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action&ndash;&gt;-->
<!--&lt;!&ndash;                    android:name="android.intent.action.ACTION_BOOT_COMPLETED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action&ndash;&gt;-->
<!--&lt;!&ndash;                    android:name="android.intent.action.QUICKBOOT_BOWERON"/>&ndash;&gt;-->
<!--            </intent-filter>-->
        </receiver>

        <service
            android:name=".service.FloatingWidgetService"
            android:enabled="true" />


        <service android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote"/>
    </application>

</manifest>